<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      <%- include('modules/sidebar', {Page : 'Clients'}) -%>
      <main >
        <div class=" cc"  style="top: 90px; left: 28%;" >
          <% if(clients.length > 0) {%>
              <% clients.forEach(function(client) { %> 
                <label class="card card-body mb-3 ">
          
                  <div  class="detailedPlan"  style="top: 60%; left: 30%; width: auto;">
                    <div >Client : <%= client.mail %> </div>
                  </div>
                </label>

                <% })%>
            <% } else {%>
              <p>No clients</p>
            <% } %>
        </div>
      </main>
    </div>
    
<%- include('modules/footer') -%>