<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      <%- include('modules/sidebar', {Page : 'Costumers'}) -%>
      <main >
        <div class=" content" >
          <% if(clients.length > 0) {%>
              <% clients.forEach(function(client) { %> 
                  <label class="card card-body mb-3 ">
                    <div class="row-1">
  
                      <div class="col">Client : <%= client.mail %> </div>
                    </div>
                  </label>
                <% })%>
            <% } else {%>
              <p>No clients</p>
            <% } %>
        </div>
      </main>
    </div>
    
<%- include('modules/footer') -%>