<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      <%- include('modules/sidebar', {Page : 'Exercises'}) -%>
      <main >
        <%- include('exercises/blocks', {exercises : exercises}) -%>
      </main>
      <%- include('exercises/querySelector', {exercises : exercises}) -%>
      
    </div>
    
<%- include('modules/footer') -%>