<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      <%- include('modules/sidebar', {Page : 'Exercises'}) -%>
      <main >
        <div class=" content" data-content>
          <% if(exercises) {%>
              <% exercises.forEach(function(exercise) { %> 
                  <label class="card card-body mb-3 ">
                    <img class="m-auto img-card" src="<%= exercise.thumbnailPath.substr(6) %> " alt="" >
                    <div class="row-1">
  
                      <div class="col">Exercise : <%= exercise.e_name %> </div>
                      <div class="col">Body's area : <%= exercise.targetMuscle %> </div>
                      <div class="col">difficulty : <%= exercise.difficulty %> </div>
                    </div>
                  </label>
                <% })%>
            <% } else {%>
              <p>No Exercises</p>
            <% } %>
        </div>
      </main>

      <aside class="query-selector" data-filter-sidebar>
        <img class="filter-img" data-filter-icon src="/images/filter.png" alt="" >
        <nav class="dropdown-nav" >

          <label for="touch"><span class="dropdown-span">Difficulty</span></label>               
          <input class="dropdown-input" type="checkbox" id="touch"> 
        
          <ul class="slide">
            <li class="dropdown-li"><a class="dropdown-a" href="#">Easy</a></li> 
            <li class="dropdown-li"><a class="dropdown-a" href="#">Medium</a></li> 
            <li class="dropdown-li"><a class="dropdown-a" href="#">Hard</a></li> 
          </ul>
        
        </nav> 
        <nav class="dropdown-nav">

          <label for="touch"><span class="dropdown-span">titre</span></label>               
          <input class="dropdown-input" type="checkbox" id="touch"> 
        
          <ul class="slide">
            <li class="dropdown-li"><a class="dropdown-a" href="#">Lorem1 Ipsum</a></li> 
            <li class="dropdown-li"><a class="dropdown-a" href="#">Lorem1 Ipsum</a></li> 
            <li class="dropdown-li"><a class="dropdown-a" href="#">Lorem1 Ipsum</a></li> 
            <li class="dropdown-li"><a class="dropdown-a" href="#">Lorem1 Ipsum</a></li> 
          </ul>
        
        </nav> 
        <div class="filter-button"> Filter</div>
      </aside>
    </div>
    
<%- include('modules/footer') -%>