<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      <%- include('modules/sidebar', {Page : 'Plans'}) -%>
      <main >
        <form action="/plans/create">
          <input  type="submit" value="Create" class="btn btn-primary btn-block" style=" margin-left : 250px; margin-top : 50px; ">
        </form>
        <div class=" content" >
          
          <% if(plans.length > 0) {%>
              <% plans.forEach(function(plan) { %> 
                  <article class="card card-body mb-3 " style="width: 250px; border-radius: 50px; position: relative;">
                    <div class="col">Plan : <%= plan.name %> </div>
                      <div class="col">Difficulty : <%= plan.difficulty %> </div>
                      <div class="col">Exerc : <%= plan.exerciseListID %> </div>
                  </article>
                <% })%>
            <% } else {%>
              <p>No plans</p>
            <% } %>
        </div>
      </main>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/scripts/scripts.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>