<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      <%- include('modules/sidebar', {Page : 'Home'}) -%>
      <main >
       
          <div   class="wrapper">
          
            <% if(plan) {%>
              <% plan.forEach(function(p) { %> 
              <div  class="detailedPlan">
                <h1 class="col" style="text-align: center;"  ><%= p.p_name %></h1>
                <h1 class="col"> Description: <%= p.p_description %> </h1>
                <h1 class="col">Exerc : <%= p.thumbnailPath %> </h1>
                <% })%>
                    <div class="bck-btt">  <button  onclick="window.location.href='/plans/single/edit/'" >Edit</button></div>
              </div>
             
                  
                   
                  
            <% } else {%>
              <p>Error, fetching the plan</p>
            <% } %>
          </div>
          
          <div class="bck-btt">
            <button  onclick="window.location.href='/plans'">Go back</button>
        </div>
        </main>
      </div>
<%- include('modules/footer') -%>