<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      <%- include('modules/sidebar', {Page : 'Plans'}) -%>
      <main >
        <form action="/plans/create">
          <input  type="submit" value="Create" class="btn btn-primary btn-block" style=" margin-left : 250px; margin-top : 50px; ">
        </form>
        <div class=" content" >
          
          <% if(plans.length > 0) {%>
              <% plans.forEach(function(plan) { %> 
                  <article class="card card-body mb-3 " style="width: 250px; border-radius: 50px; position: relative;">
                    <div class="col">Plan : <%= plan.name %> </div>
                      <div class="col">Difficulty : <%= plan.difficulty %> </div>
                      <div class="col">Exerc : <%= plan.exerciseListID %> </div>
                  </article>
                <% })%>
            <% } else {%>
              <p>No plans</p>
            <% } %>
        </div>
      </main>
    </div>
    
<%- include('modules/footer') -%>