<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      <%- include('modules/sidebar', {Page : 'Plans'}) -%>
      
      <main >
        <div class="content"></div>
          <div id="image-container">
            
            <% if(exercises.length > 0) {%>
                <% exercises.forEach(function(exercise) { %> 
                    <article class="card card-body mb-3 " style="width: 250px; border-radius: 50px; " data-con>
                      <img class="m-auto img-card" src="<%= exercise.thumbnail.substr(6) %> " alt="" data-img>
                    </article>
                    
                  <% })%>
              <% } else {%>
                <p>No Exercises</p>
              <% } %>
          </div>  
          <div >
            <button id="add-image-button" >x</button>
          </div>
        </div>
        
        
      </main>
    </div>
    <script>
      const imageContainer = document.getElementById('image-container');
    var imageSelection = [];

      
        const img = document.querySelectorAll('[data-img]')
        img.forEach ( i => { 
          i.addEventListener('click', (e)=> {
          console.log('toggling')
          i.classList.toggle('check');
        })
       
    })
  
   



    imageContainer.addEventListener('click', (e) => {
      //  img.classList.toggle('check');
        if (!imageSelection.includes(e.target.src)) {
            console.log('we adding')
            imageSelection.push(e.target.src);
        }
        else{
          console.log('we removing')
          imageSelection=remove(imageSelection,e.target.src);
          //img.classList.toggle('check');
        }
    });
      
    const addImageButton = document.getElementById('add-image-button');
    addImageButton.addEventListener('click', async () => {
        console.log("SENDING ")
        const url = 'http://localhost:5000/plans/upload/exer';
        try {
        
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify(imageSelection),
            });
            console.log(response)
            if (response.ok){           
                window.location.href = "/plans"
            }
            imageSelection = [];
        }catch(e){
            console.log("error on")            
            imageSelection = [];
        }
        imageSelection = [];


    });
    function remove(arrOriginal, elementToRemove){
    return arrOriginal.filter(function(el){return el !== elementToRemove});
}
    </script>
  <%- include('modules/footer') -%>